freeflix-react/
node-media-server/
nginx-server/
staticfiles/
media/
*.sqlite3

.vscode/
.git/
.env
*.env

Dockerfile
.gitignore
.dockerignore
docker-compose.yml
docker-compose.*.yml

__pycache__
*.pyc
venv

*.sh
!start.sh